.wrapper{
    
}
header{

}
header h1{
    padding: 5px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
}
header h1 span{
    padding: 10px;
    display: block;
    font-size: 20px;
}
header .stit{
    background: lightgray;
    text-align: center;
    padding: 10px;
}
#container{
    float: left;
    
}
.side-menu{
    float: left;
    width: 20%;

}
.wrap{
    background: white;
    height: 2000px;
}
.title{
    background: red;
    color: white;
    padding: 10px;
    font-weight: bold;
}
.wrap ul{
    padding: 20px;

}
.wrap ul li{
    padding: 10px;
    text-decoration: none;
}
.wrap a{
    color: #123456;
    font-weight: bold;
}
.content{
    width: 45%;
    float: left;
    background: lightgray;
}
section article h2{
    
}
section article h2 a{
    text-decoration: none;
    display: block;
    padding: 10px;
    background: #123456;
    color: white;
}
section article h3{
    color: #123456;
    font-weight: bold;
    padding: 20px;
    
}
section article p{
    padding: 20px;
    color: #123456;
    text-indent: 5px;
}
.side-links{
    float: left;
    width: 25%;
}
aside .all{
    display: block;
    padding: 10px;
    color: gray;
    font-weight: bold;
    font-size: 30px;
}
aside .love{
    display: block;
    padding: 10px;
    color: orange;
    font-weight: bold;
    font-size: 28px;
}
aside span{
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
aside a{
    padding: 10px;
}








/* footer address{
    color: white;
    background: rgb(10, 10, 97);
    padding: 20px;
}
footer address a{
    text-decoration: none;
    color: white;
} */